.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  margin: -1px;
}

.section {
  padding: 50px 0;
}

.logo {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: -0.02em;
  color: #0c0c0c;
}

.social-list {
  display: flex;
  align-items: center;
  gap: 10px;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(12, 12, 12, 0.1);
  border-radius: 10px;
  width: 36px;
  height: 36px;
}
