/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('../fonts/fonts.css');
@import url('./reset.css');
@import url('./base.css');
@import url('./common.css');
@import url('./container.css');

/* Sections style */
@import url('./header.css');
@import url('./catalog.css');
@import url('./contact-us.css');
@import url('./footer.css');
